.hero {
  padding-top: 27px;
  background-image: url("../img/cat-hero.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;
  position: relative;
}

.hero__title {
  color: @basic-white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
}

.hero__description {
  color: @basic-white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.hero__img {
  width: 280px;
  height: 270px;
  margin: 0;
  margin-bottom: 3px;
  display: block;
}

.hero__button {
  margin-bottom: 20px;
}

.main-header__header-logo img {
  display: block;
}

@media (min-width: @tablet-width) {
  .hero {
    padding-top: 27px;
    background-image: none;
  }

  .hero__title {
    color: @basic-black;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-left: 120px;
    margin-bottom: 40px;
    text-align: start;
  }

  .hero__description {
    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
    text-align: start;
  }

  .hero__img {
    // position: absolute;
  }

  .hero__button {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  // Стили для десктопа
}
