.button {
  display: block;
  font-family: "Oswald", sans-serif;
  background: #68b738;
  border: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
}
