.main-header {
  padding-top: 13px;
  padding-bottom: 14px;
}

.main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url(../img/burger-icon.svg);
  background-repeat: no-repeat;
  background-color: #fff;
}
