.main-header {
  padding-top: 22px;
  padding-bottom: 18px;
}

.main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__site-logo {
  padding-left: 89px;
  position: relative;
}

.main-header__site-logo::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../../img/header-logo.svg");
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  background-color: @basic-white;
}

.main-header__nav {
  margin: 0;
  background-color: @basic-white;
}

@media (max-width: @tablet-width) {
  .main-header {
    position: relative;
  }

  .main-header__nav {
    .visually-hidden;
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    padding-top: 33px;
    padding-bottom: 47px;
  }

  .main-header__toggle {
    .visually-hidden;
  }

  .main-header__site-logo {
    padding-left: 73px;
  }

  .main-header__site-logo::before {
    background-image: url("../../img/header-logo-tablet.svg");
    width: 60px;
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 33px;
    padding-bottom: 47px;
  }

  .main-header__site-logo {
    padding-left: 73px;
    width: 118px;
    height: 21px;
  }

  .main-header__site-logo::before {
    background-image: url("../../img/header-logo-tablet.svg");
    width: 60px;
    height: 50px;
  }
}
