.input {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}

.input__field {
  flex-grow: 1;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  border: 1px solid @border-color;
}

.input--textarea {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 14px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid @border-color;
  resize: none;
}

@media (min-width: @tablet-width) {
  .input {
    gap: 13px;
  }

  .input__text {
    font-size: 20px;
  }

  .input__field {
    font-size: 20px;
    padding: 9px;
    padding-left: 20px;
  }

  .input--textarea {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
    height: 175px;
  }
}
