.request {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;
}

.request__title {
  margin: 0;
  margin-bottom: 37px;
  color: @basic-black;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.request__description {
  margin: 0;
  margin-bottom: 39px;
  color: @basic-black;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 226px;
}
